[submodule "vim/.vim/pack/dist/opt/vim-late_evening"]
	path = vim/.vim/pack/dist/opt/vim-late_evening
	url = git@github.com:h3xx/vim-late_evening.git
	branch = master
[submodule "vim/.vim/pack/dist/start/vim-eunuch"]
	path = vim/.vim/pack/dist/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
	branch = master
[submodule "vim/.vim/pack/dist/start/vim-gitgutter"]
	path = vim/.vim/pack/dist/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
	branch = master
[submodule "vim/.vim/pack/dist/start/gist-vim"]
	path = vim/.vim/pack/dist/start/gist-vim
	url = https://github.com/mattn/gist-vim.git
	branch = master
