[submodule "vim/.vim/pack/dist/opt/tagbar"]
	path = vim/.vim/pack/dist/opt/tagbar
	url = https://github.com/majutsushi/tagbar.git
	branch = master
[submodule "vim/.vim/pack/dist/opt/vim-late_evening"]
	path = vim/.vim/pack/dist/opt/vim-late_evening
	url = https://github.com/h3xx/vim-late_evening.git
	branch = master
[submodule "vim/.vim/pack/dist/start/gist-vim"]
	path = vim/.vim/pack/dist/start/gist-vim
	url = https://github.com/mattn/gist-vim.git
	branch = master
[submodule "vim/.vim/pack/dist/start/vim-eunuch"]
	path = vim/.vim/pack/dist/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
	branch = master
[submodule "vim/.vim/pack/dist/start/vim-fugitive"]
	path = vim/.vim/pack/dist/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
	branch = master
[submodule "vim/.vim/pack/dist/start/vim-gitgutter"]
	path = vim/.vim/pack/dist/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
	branch = master
[submodule "vim/.vim/pack/dist/start/vim-repeat"]
	path = vim/.vim/pack/dist/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
	branch = master
[submodule "vim/.vim/pack/dist/start/webapi-vim"]
	path = vim/.vim/pack/dist/start/webapi-vim
	url = https://github.com/mattn/webapi-vim.git
	branch = master
