[submodule "vim/.vim/pack/dist/opt/vim-late_evening"]
	path = vim/.vim/pack/dist/opt/vim-late_evening
	url = git@github.com:h3xx/vim-late_evening.git
	branch = master
[submodule "vim/.vim/pack/dist/start/vim-eunuch"]
	path = vim/.vim/pack/dist/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
	branch = master
[submodule "vim/.vim/pack/dist/start/vim-gitgutter"]
	path = vim/.vim/pack/dist/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
	branch = master
[submodule "vim/.vim/pack/dist/start/gist-vim"]
	path = vim/.vim/pack/dist/start/gist-vim
	url = https://github.com/mattn/gist-vim.git
	branch = master
[submodule "vim/.vim/pack/dist/start/vim-fugitive"]
	path = vim/.vim/pack/dist/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
	branch = master
[submodule "vim/.vim/pack/dist/start/webapi-vim"]
	path = vim/.vim/pack/dist/start/webapi-vim
	url = https://github.com/mattn/webapi-vim.git
	branch = master
[submodule "vim/.vim/pack/dist/opt/tagbar"]
	path = vim/.vim/pack/dist/opt/tagbar
	url = https://github.com/majutsushi/tagbar.git
	branch = master
[submodule "vim/.vim/pack/dist/start/vim-repeat"]
	path = vim/.vim/pack/dist/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
	branch = master
[submodule "vim/.vim/pack/dist/start/vim-surround"]
	path = vim/.vim/pack/dist/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
	branch = master
[submodule "vim/.vim/pack/dist/start/vim-easymotion"]
	path = vim/.vim/pack/dist/start/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
	branch = master
[submodule "vim/.vim/pack/dist/opt/vim-coffee-script"]
	path = vim/.vim/pack/dist/opt/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
	branch = master
[submodule "vim/.vim/pack/dist/opt/perldoc-vim"]
	path = vim/.vim/pack/dist/opt/perldoc-vim
	url = https://github.com/hotchpotch/perldoc-vim.git
	branch = master
[submodule "vim/.vim/pack/dist/opt/javacomplete"]
	path = vim/.vim/pack/dist/opt/javacomplete
	url = https://github.com/Shougo/javacomplete.git
	branch = master
[submodule "vim/.vim/pack/dist/start/vim-textobj-user"]
	path = vim/.vim/pack/dist/start/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
	branch = master
[submodule "vim/.vim/pack/dist/start/vim-textobj-indent"]
	path = vim/.vim/pack/dist/start/vim-textobj-indent
	url = https://github.com/kana/vim-textobj-indent.git
	branch = master
[submodule "vim/.vim/pack/dist/start/vim-textobj-entire"]
	path = vim/.vim/pack/dist/start/vim-textobj-entire
	url = https://github.com/kana/vim-textobj-entire.git
	branch = master
[submodule "vim/.vim/pack/dist/start/vim-textobj-line"]
	path = vim/.vim/pack/dist/start/vim-textobj-line
	url = https://github.com/kana/vim-textobj-line.git
	branch = master
[submodule "vim/.vim/pack/dist/start/vim-textobj-parameter"]
	path = vim/.vim/pack/dist/start/vim-textobj-parameter
	url = https://github.com/sgur/vim-textobj-parameter.git
	branch = master
[submodule "vim/.vim/pack/dist/opt/PHP-Indenting-for-VIm"]
	path = vim/.vim/pack/dist/opt/PHP-Indenting-for-VIm
	url = https://github.com/2072/PHP-Indenting-for-VIm.git
	branch = master
[submodule "font/ohsnapmod"]
	path = font/ohsnapmod
	url = git://github.com/h3xx/ohsnapmod.git
	branch = master
[submodule "vim/.vim/pack/dist/start/ctrlp.vim"]
	path = vim/.vim/pack/dist/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
	branch = master
[submodule "mutt/mutt-colors-neonwolf"]
	path = mutt/mutt-colors-neonwolf
	url = git@github.com:h3xx/mutt-colors-neonwolf.git
	branch = master
[submodule "tig/tig-colors-neonwolf"]
	path = tig/tig-colors-neonwolf
	url = git@github.com:h3xx/tig-colors-neonwolf.git
	branch = master
[submodule "git/git-colors-neonwolf"]
	path = git/git-colors-neonwolf
	url = git@github.com:h3xx/git-colors-neonwolf.git
	branch = master
[submodule "vim/.vim/pack/dist/start/lightline.vim"]
	path = vim/.vim/pack/dist/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
	branch = master
[submodule "vim/.vim/pack/dist/start/vim-textobj-function"]
	path = vim/.vim/pack/dist/start/vim-textobj-function
	url = https://github.com/kana/vim-textobj-function.git
	branch = master
