# .inputrc
# (See readline(3) for settings; C-x C-r reloads)

$include /etc/inputrc

# do not make noise
set bell-style none

# Colorize completions according to $LS_COLORS
set colored-stats on

# Truncate long entries with ellipses when displaying possible completions
set completion-prefix-display-length 5

# append demarkation characters [*/@%=] to special entries
set visible-stats on

# add trailing slash to completed dirs (default)
#set mark-directories on

# add trailing slash to completed symlinked dirs (default)
# (does not affect showing completions)
#set mark-symlinked-directories on

# wrap long lines when typing commands (default)
#set horizontal-scroll-mode off

$if bash
# redirection short cuts
# (esc-KEY in xterm = (esc-KEY && alt-KEY in rxvt))
Meta-w: "2>&1"
Meta-q: "&>/dev/null &"
M-Control-q: "2>/dev/null"
Meta-g: "&>~/.garbage.out &"
M-Control-g: "2>~/.garbage.out"

# Git
Meta-d: "git d "
Meta-c: "git c "
Meta-s: "git s "
Meta-u: "git u"
Meta-p: "git p "
Meta-f: "git f "
Meta-m: "git m "
Meta-o: "git co "

# ls
Meta-l: "la\r"

# limit history garbage
# escape + arrow key (both xterm and rxvt)
"\e\e[A": ""
"\e\e[B": ""
"\e\e[C": ""
"\e\e[D": ""

$endif

# postgresql shortcuts
$if psql

	Meta-c: "select count(*) from "
	Meta-r: "rollback;begin;"
	Meta-s: "select * from "

$endif


# FIXES BELOW THIS LINE
#-----

# ctrl-backspace (^H) deletes word
"\x08": backward-kill-word

# allow the use of the Home/End keys (fixed)
#"\e[1~": beginning-of-line
#"\e[4~": end-of-line

# mappings for Ctrl-left-arrow and Ctrl-right-arrow for word moving
"\e[1;5C": forward-word
"\e[1;5D": backward-word

# completions
Meta-?: possible-completions
Meta-*: insert-completions

# enable Alt-. insertion of last typed argument
Meta-.: yank-last-arg

$if term=rxvt
# allow the use of the Home/End keys
"\e[7~": beginning-of-line
"\e[8~": end-of-line

# mappings for Ctrl-left-arrow and Ctrl-right-arrow for word moving
"\e0c": forward-word
"\e0d": backward-word
$endif

# allow the use of the Delete/Insert keys
#"\e[3~": delete-char
#"\e[2~": quoted-insert

# "page up" and "page down" step to the beginning/end of the history
#"\e[5~": beginning-of-history
#"\e[6~": end-of-history
