# .inputrc
# (See readline(3) for settings; C-x C-r reloads)

$include /etc/inputrc

# do not make noise
set bell-style none

# append demarkation characters [*/@%=] to special entries
set visible-stats on

# add trailing slash to completed dirs (default)
#set mark-directories on

# add trailing slash to completed symlinked dirs (default)
# (does not affect showing completions)
#set mark-symlinked-directories on

# wrap long lines when typing commands (default)
#set horizontal-scroll-mode off

$if bash
# redirection short cuts
# (esc-KEY in xterm = (esc-KEY && alt-KEY in rxvt))
"\ew":		"2>&1"
"\eq":		"&>/dev/null &"
"\e\C-q":	"2>/dev/null"
"\eg":		"&>~/.garbage.out &"
"\e\C-g":	"2>~/.garbage.out"

"\M-d":		"git d "
"\M-c":		"git c "
"\M-s":		"git s "
"\M-u":		"git pu"
"\M-m":		"git m "
"\M-o":		"git co "

# redirection short cuts
$if term=xterm
"\M-w":		"2>&1"
"\M-q":		"&>/dev/null &"
"\M-\C-q":	"2>/dev/null"
"\M-g":		"&>~/.garbage.out &"
"\M-\C-g":	"2>~/.garbage.out"
$endif

# redirection short cuts
$if term=screen
"\M-w":		"2>&1"
"\M-q":		"&>/dev/null &"
"\M-\C-q":	"2>/dev/null"
"\M-g":		"&>~/.garbage.out &"
"\M-\C-g":	"2>~/.garbage.out"
$endif

$if term=xterm
"\M-l":		"la\r"
"\M-h":		" history -a\r"
$endif

$if term=screen
"\M-l":		"la\r"
"\M-h":		" history -a\r"
$endif

$if term=rxvt
"\el":		"la\r"
"\eh":		" history -a\r"
$endif

#$if term=putty
#"\el":		"la\r"
#$endif

$endif

# postgresql shortcuts
$if psql
	"\e-s":	"select * from "
	"\e-r":	"rollback;begin;"
	$if term=xterm
	"\M-r":	"rollback;begin;"
	"\M-s":	"select * from "
	$endif
	$if term=screen
	"\M-r":	"rollback;begin;"
	"\M-s":	"select * from "
	$endif
$endif


# FIXES BELOW THIS LINE
#-----

# ctrl-backspace (^H) deletes word
"\x08":		backward-kill-word

$if term=xterm
# allow the use of the Home/End keys (fixed)
#"\e[1~":	beginning-of-line
#"\e[4~":	end-of-line

# mappings for Ctrl-left-arrow and Ctrl-right-arrow for word moving
"\e[1;5C":	forward-word
"\e[1;5D":	backward-word

# completions
"\M-?":		possible-completions
"\M-*":		insert-completions

# enable Alt-. insertion of last typed argument
"\M-.":		yank-last-arg
$endif

# (copy of xterm block)
$if term=screen
"\e[1;5C":	forward-word
"\e[1;5D":	backward-word
"\M-?":		possible-completions
"\M-*":		insert-completions
"\M-.":		yank-last-arg
$endif

$if term=rxvt
# allow the use of the Home/End keys
"\e[7~":	beginning-of-line
"\e[8~":	end-of-line

# mappings for Ctrl-left-arrow and Ctrl-right-arrow for word moving
"\e0c":		forward-word
"\e0d":		backward-word
$endif

# allow the use of the Delete/Insert keys
#"\e[3~":	delete-char
#"\e[2~":	quoted-insert

# "page up" and "page down" step to the beginning/end of the history
#"\e[5~":	beginning-of-history
#"\e[6~":	end-of-history
