/* This covers the inner vertical splitters */
@namespace url("http://www.w3.org/1999/xhtml");
@-moz-document url-prefix("chrome://devtools/content/") {
    :root {
        --devtools-splitter-top-width: 8px !important;
        /* +2 from normal */
        --devtools-splitter-inline-end-width: 6px !important;
        /* +2 from normal */
        --devtools-splitter-inline-start-width: 3px !important;
    }
}

/* This covers the inner horizontal splitters near the bottom */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@-moz-document url-prefix("about:devtools-toolbox") {
    :root {
        --devtools-splitter-top-width: 8px !important;
        /* +2 from normal */
        --devtools-splitter-inline-end-width: 6px !important;
        /* +2 from normal */
        --devtools-splitter-inline-start-width: 3px !important;
    }
}
