/* This covers the drag handle for the entire devtools panel (when docked) */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
#appcontent {
    --devtools-splitter-top-width: 8px !important;
    /* +2 from normal */
    --devtools-splitter-inline-end-width: 6px !important;
    /* +2 from normal */
    --devtools-splitter-inline-start-width: 3px !important;
}
