# mail folder locations

# (shortcuts to remote folders, use c<Tab><Tab> to list mailboxes)

# gmail integration
mailboxes imaps://imap.gmail.com/INBOX

# gmx integration
mailboxes imaps://imap.gmx.com/INBOX

# main mail tree (for prefixing maildirs with `=')
set folder=~/Mail

# incoming mail
#set spoolfile=$MAIL
set spoolfile=+mbox

mailboxes =mbox =bulk =misc =old =trash \
	=newsletters/slashdot \
	=newsletters/slackware

# file locations
set postponed=+postponed # drafts
set record=+outbox # outgoing mail
set mbox=+mbox

# set the save hook for detected spam messages to the `bulk' folder
save-hook '~h ^X-Bogosity.*Spam' +bulk

save-hook '(~t security@slackware\.com|~f security@slackware\.com)' +newsletters/slackware
save-hook '~f @berlios\.de' +newsletters/berlios
save-hook '~f @gna\.org' +newsletters/gna

save-hook '~h ^Return-Path:\ .*@bounce\.linkedin\.com' +newsletters/social/linkedin
save-hook '~h ^From\ .*@joindiaspora\.com' +newsletters/social/diaspora
save-hook '~h ^From:\ .*@newegg\.com' +invoices
save-hook '~h ^From:\ .*slashdot@\(slashdot\.org\|newsletters\.slashdot.org\)' +newsletters/slashdot

# vi: ft=muttrc
